.git
.gitignore
.github
.DS_Store
.artifacts
.vscode
.idea

node_modules
npm-debug.log*

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

*.md
LICENSE

test
eval
scripts

.env
.env.*
*.log
