.git
.gitignore
.github
.DS_Store
.artifacts
.vscode
.idea

node_modules
npm-debug.log*

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

README.md
CONTRIBUTING.md
PROGRAM.md
LICENSE
CHANGELOG.md
*.md

test/docker

.env
.env.*
*.log
